src/main/mule/global/retrieveconsolidatedroutesandschedulesxpapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   <flow name="retrieveconsolidatedroutesandschedulesxpapi-main">
        <http:listener config-ref="retrieveconsolidatedroutesandschedulesxpapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveconsolidatedroutesandschedulesxpapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            
        </error-handler>
    </flow>
    <flow name="retrieveconsolidatedroutesandschedulesxpapi-console">
        <http:listener config-ref="retrieveconsolidatedroutesandschedulesxpapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveconsolidatedroutesandschedulesxpapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrieveconsolidatedroutesandschedulesxpapiSub_Flow" doc:id="d6f52c1a-c360-4b14-baec-e2e3bab1723c" >
		<ee:transform doc:name="Initialize Variables for Request Event Transform Message" doc:id="6aa986fb-27fb-48e7-be21-7aff99db8992" >
			<ee:variables >
				<ee:set-variable variableName="transportType" ><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="transportCompany" ><![CDATA[attributes.queryParams.'companyName']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'departureLocation']]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'destinationLocation']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="get:\booking\(transportType)\routes:retrieveconsolidatedroutesandschedulesxpapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="6aa5159d-ec18-4636-b80b-73e3edba37c8" name="retrieveconsolidatedroutesandschedulesxpapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="339263ce-0c19-4f14-b8c1-0aa059b3bcb0" message="Request Received For Routes BAPI For TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="c62804ba-64e0-47b7-ab97-8ac80d6f0efa" name="getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="4cbc1ded-5e14-48ad-876b-38583e83cfbc" message="Response Sent For Routes BAPI For TransactionId: #[vars.transactionId]"/> 
    </flow>
    <flow name="get:\booking\(transportType)\schedules:retrieveconsolidatedroutesandschedulesxpapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="d713ddec-87b2-48c6-96be-ff48de8dedec" name="retrieveconsolidatedroutesandschedulesxpapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="758b8166-fca3-4c81-85c3-0a013e2c9e29" message="Request Received For Schedules BAPI For TransactionId: #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="aed987e0-f1c9-46ee-9f78-48d0ddfc73e6" name="getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="5c16b5f2-9549-4e8f-9bae-9cdd94e5fb20" message="Response Sent For Schedules BAPI For TransactionId: #[vars.transactionId]"/>
    
    </flow>
</mule>
